.player {
    border: 1px solid black;
    max-width: 400px;
    padding: 5px;
    margin: auto;
}

#file-music {
    padding: 5px 0;
    width: 100%;
}

.nav {
    display: flex;
    align-items: flex-end;
}

.button {
    border: none;
    background-color: white;
    color: #000;
    font-size: 15px;
}

#scale-container {
    border: 1px solid black;
    width: 100%;
    height: 11px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#scale-percent {
    height: 100%;
    width: 0%;
    margin: 0;
    box-sizing: border-box;
    background-color: grey;
}

p {
    margin: 0 5px 5px 5px;
    line-height: 1;
    display: inline-flex;
}

small {
    font-size: 13px;
}