#squad{
    display: flex;
    flex-wrap: wrap;
}

.military-resource{
    border: 2px solid black;
    width: 150px;
    padding: 10px;
    margin: 10px;
}

.military-resource .border{
    border: 1px solid black;
    margin: 5px 0;
}

.military-resource .health{
    background-color: red;
    width: 100%;
    height: 4px;
}

.military-resource .distance{
    background-color: darkorange;
    width: 100%;
    height: 4px;
}

.military-resource .type-name{
    text-align: center;
}

.military-resource img{
    width: 100%
}